In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ndim.csv')

In [3]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [4]:
df.shape

(60, 26)

In [5]:
df.head(5)

,starting_date,f1,auc,pr1,pr2,pr5,pr10,re1,re2,re5,re10,rev1,rev2,rev5,rev10,model,epoch,dim,lr,l2,beta,heads,fusion,activation,ntree,ndepth
0,13-01-01,0.749727,0.964915,0.919711,0.825104,0.382578,0.200550,0.410426,0.736281,0.853454,0.894771,0.439705,0.668879,0.817760,0.876334,DATE_13-01-01_4_4,5,4,0.005,0.01,0.0,4,concat,relu,100,4
1,13-01-01,0.751471,0.962235,0.938133,0.816537,0.374910,0.198018,0.418496,0.728373,0.836346,0.883473,0.379156,0.664322,0.783176,0.854798,DATE_13-01-01_4_4,5,4,0.005,0.01,0.0,4,concat,relu,100,4
2,13-01-01,0.726236,0.962756,0.941410,0.791101,0.380263,0.200043,0.420110,0.705939,0.848289,0.892511,0.368665,0.625571,0.803313,0.877297,DATE_13-01-01_4_4,5,4,0.005,0.01,0.0,4,concat,relu,100,4
3,13-01-01,0.760616,0.961639,0.963834,0.818165,0.376863,0.197367,0.430116,0.729826,0.840704,0.880568,0.350784,0.637439,0.769361,0.846718,DATE_13-01-01_4_4,5,4,0.005,0.01,0.0,4,concat,relu,100,4
4,13-01-01,0.735672,0.962619,0.947920,0.806732,0.374095,0.197656,0.423015,0.719496,0.834409,0.881859,0.369784,0.653407,0.791102,0.858786,DATE_13-01-01_4_4,5,4,0.005,0.01,0.0,4,concat,relu,100,4

In [6]:
df.groupby(['dim'])['re1'].apply(len)

dim
4     12
8     12
16    12
32    12
64    12
Name: re1, dtype: int64

In [7]:
df['ndim'] = df['dim']

In [8]:
df.groupby(['ndim'])['f1','auc','pr1','pr2','pr5','pr10','re1','re2','re5','re10','rev1','rev2','rev5','rev10'].apply(lambda x: round(100 * np.mean(x), 2))

,f1,auc,pr1,pr2,pr5,pr10,re1,re2,re5,re10,rev1,rev2,rev5,rev10
ndim,,,,,,,,,,,,,,
4,74.85,96.22,95.33,80.76,37.64,19.82,42.54,72.00,83.97,88.42,38.15,64.56,79.01,86.03
8,75.10,96.55,94.54,80.52,38.18,20.07,42.15,71.60,85.15,89.52,42.03,65.88,81.62,88.14
16,75.26,96.84,94.03,81.53,38.74,20.24,41.90,72.76,86.41,90.28,44.91,67.28,83.91,89.20
32,76.54,96.99,95.37,82.56,38.88,20.33,42.53,73.67,86.74,90.68,45.73,68.39,84.19,89.67
64,77.70,96.96,95.91,83.77,38.85,20.32,42.80,74.68,86.64,90.65,44.74,68.89,83.80,89.70

In [9]:
df.groupby(['ndim'])['f1','auc','pr1','pr2','pr5','pr10','re1','re2','re5','re10','rev1','rev2','rev5','rev10'].apply(lambda x: round(100 * np.std(x), 2))

,f1,auc,pr1,pr2,pr5,pr10,re1,re2,re5,re10,rev1,rev2,rev5,rev10
ndim,,,,,,,,,,,,,,
4,1.69,0.16,1.54,1.54,0.39,0.20,0.69,1.29,0.86,0.87,3.36,1.87,1.59,1.68
8,1.38,0.16,2.26,2.10,0.48,0.13,1.00,1.78,1.07,0.59,3.43,1.01,1.80,0.83
16,1.06,0.16,1.89,1.60,0.25,0.11,0.90,1.43,0.59,0.50,1.48,0.86,0.87,0.93
32,1.72,0.14,1.33,1.88,0.25,0.10,0.57,1.68,0.57,0.45,2.69,1.43,0.94,0.84
64,1.07,0.18,1.53,0.80,0.26,0.09,0.68,0.69,0.57,0.39,2.25,1.42,1.16,1.03

In [10]:
def draw_without_stdev(measure):
    g = df.groupby(['ndim'])[measure].apply(lambda x: np.mean(x))
    for idx in g.index:
        print(f'({idx}, {round(g.loc[idx][0]*100, 2)})')
              
def draw_with_stdev(measure):
    g = df.groupby(['ndim'])[measure].apply(lambda x: (np.mean(x), np.std(x)))
    for idx in g.index:
        print(f'({idx}, {round(g.loc[idx][0]*100, 2)}) +- ({round(g.loc[idx][1]*100, 2)}, {round(g.loc[idx][1]*100, 2)})')

In [11]:
# Precision
draw_with_stdev('pr1')
draw_with_stdev('pr2')
draw_with_stdev('pr5')
draw_with_stdev('pr10')

(4, 95.33) +- (1.54, 1.54)
(8, 94.54) +- (2.26, 2.26)
(16, 94.03) +- (1.89, 1.89)
(32, 95.37) +- (1.33, 1.33)
(64, 95.91) +- (1.53, 1.53)
(4, 80.76) +- (1.54, 1.54)
(8, 80.52) +- (2.1, 2.1)
(16, 81.53) +- (1.6, 1.6)
(32, 82.56) +- (1.88, 1.88)
(64, 83.77) +- (0.8, 0.8)
(4, 37.64) +- (0.39, 0.39)
(8, 38.18) +- (0.48, 0.48)
(16, 38.74) +- (0.25, 0.25)
(32, 38.88) +- (0.25, 0.25)
(64, 38.85) +- (0.26, 0.26)
(4, 19.82) +- (0.2, 0.2)
(8, 20.07) +- (0.13, 0.13)
(16, 20.24) +- (0.11, 0.11)
(32, 20.33) +- (0.1, 0.1)
(64, 20.32) +- (0.09, 0.09)

In [12]:
# Revenue
draw_with_stdev('rev1')
draw_with_stdev('rev2')
draw_with_stdev('rev5')
draw_with_stdev('rev10')

(4, 38.15) +- (3.36, 3.36)
(8, 42.03) +- (3.43, 3.43)
(16, 44.91) +- (1.48, 1.48)
(32, 45.73) +- (2.69, 2.69)
(64, 44.74) +- (2.25, 2.25)
(4, 64.56) +- (1.87, 1.87)
(8, 65.88) +- (1.01, 1.01)
(16, 67.28) +- (0.86, 0.86)
(32, 68.39) +- (1.43, 1.43)
(64, 68.89) +- (1.42, 1.42)
(4, 79.01) +- (1.59, 1.59)
(8, 81.62) +- (1.8, 1.8)
(16, 83.91) +- (0.87, 0.87)
(32, 84.19) +- (0.94, 0.94)
(64, 83.8) +- (1.16, 1.16)
(4, 86.03) +- (1.68, 1.68)
(8, 88.14) +- (0.83, 0.83)
(16, 89.2) +- (0.93, 0.93)
(32, 89.67) +- (0.84, 0.84)
(64, 89.7) +- (1.03, 1.03)